/*Soft Reset do CSS*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(rgba(255,255,255,.8), rgba(255,255,255,.8)), 
  url("../img/img1-1.jpg");
  background-position: center;
  font-family: Arial; 
  height: 100vh;
  font-size: 12px;
}
/*Se a tela tiver pelo menos vai carregar esses estilos */
@media (min-width: 400px) {
  body{
    font-size: 14px;
  }
}

h2{
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-bottom: 20px;
  font-style: italic;
}

header{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu{
  background-color: whitesmoke;
  position: fixed;
  width: 100vw;
  top: 0;
}

.menu a{
  display: block;
  padding: 10px 20px;
}

.menu ul{
  display: flex; 
  justify-content: space-around;
  
}

.menu li{
  list-style: none;
  font-style: italic;
  font-size: 20px;
}

a { 
  color: teal; 
  text-decoration: none;  
  
}

a:hover{
    color: black;
    text-decoration:underline; 
    text-shadow: aqua;
    background-color: lightskyblue;
  
}

.site-title{
  color: white;
  font-size: 4em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  
}

.site-subtitle,
.site-title{
  color: #47476b;
  text-align: center; 
}

.site-subtitle{
  font-style: italic;
  font-family: verdana; 
}

.img-portifolio{
  width: 150px;
  height: 120px;
  margin-left: 100px;
  /*margin-right: 100px;*/
}

.portifolio{
  display: flex;
  flex-direction: column;
  background-color: white;
}

.itens{
  display: flex;
  flex-direction: row;
  justify-content: center;
  
}

figcaption{
  text-align: center;
  margin: 2px 100px 5px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}






