body {
  background-image: linear-gradient(rgba(255,255,255,.8), rgba(255,255,255,.8)), 
  url("https://lh3.googleusercontent.com/proxy/ViiDZf114abXGw19jfu6uPA5-P_ly9r6r5KXVUDHZiOlB2ceFb3RL5gmltntoS_ExbyLu_aN5oEg-2qWT9AzYOV4FRlLVwDEj7ftnqd4HwH0Xj7fDH2sNy5T9wb0Dc2t-Y0XsBCBGfPhyyYqVnVu9wa27MpPWJJDPvwKQRAEe87audNREF7MBQkg3zi__-MbiHUc");
  background-size: 1200px; 
  background-position: center;
  font-family: Arial; 
  height: 100vh;

}
.menu ul{
  display: flex; 
  justify-content: space-around;
}

.menu li{
  list-style: none;
}

a { 
  color: teal; 
  text-decoration: none;  
  
}

a:hover{
    color: black;
    text-decoration:underline; 
  
}
.site-subtitle,
.site-title{
  color: #47476b;
  text-align: center; 
}

.site-subtitle{
  font-style: italic;
  font-family: verdana; 
}

