.container {
	margin: 0 auto;
	width: 960px;
}
body {
	/*background: #FFF1D6; */
	background-image: linear-gradient(rgba(255,255,255,0.7), rgba(255,255,255,0.7)), 
	url("../img_sao_paulo/são-paulo-5.jpg");
	font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, sans-serif; 
	line-height: 1.6;
}


article{
	background: #FFF; 
	border-color: #CCC #999 #999 #CCC; 
	border: 1px solid #CCC; 
	margin-bottom: 20px; padding: 10px;
}

.ibira a, 
.boteco a, 
.avenida_paulista a{ 
	text-decoration: none;
	font-style: normal;
	color: black;
}

.ibira a:hover, 
.boteco a:hover, 
.avenida_paulista a:hover{ 
	font-weight: bolder;
	font-size: 15px;
	background-color: aqua;
}

article p{ 
	font-family: 'Roboto', sans-serif;
}

article h2{
	border-bottom: 1px dashed black; 
	margin: 0;
	font-family: 'Roboto', sans-serif;
	
}

article a{
	color: #2C88A7; 
	font-weight: bold;
}

h1{
	color: black; 
	text-decoration: none;
	text-align: center;
	font-family: 'Montserrat', sans-serif;
}

article img{
	border: 1px solid black; 
	float: left; 
	margin: 10px 10px 0 0; 
	padding: 2px; 
	width: 30%;
}

footer{
	font-size: 20px; 
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	clear: both;
	color: black;
	font-weight: bold;
}

.places{
	float: left; 
	width: 660px;
}

aside {
	background-color: #FFFBE4; 
	border: 1px solid #C9BC8F; 
	float: right; 
	padding: 10px; 
	width: 260px;
}

aside h3 {
	font-size: 14px; margin-top: 0;
	
} 

aside ol {
	font-size: 14px;
	font-family: 'Roboto', sans-serif;
}

.lugares{
	border-radius: 5%;
}

.lugares:hover{
	-moz-transform: scale(3.1);
	-webkit-transform: scale(3.1);
	transform: scale(3.1);
}